* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    font-family: 'open sans', sans-serif;


}

.o{
    background-color: rgba(50, 79, 57, 0.7);
    border-radius: 5px;
}

img {
    width: 1366px 768px;
    position: flex;
    height: calc(100vh - 10px);
    background-repeat: no-repeat/cover;
    padding: 0;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
}

.right {
    text-align: center;
}

ol {
    list-style-type: none;
}


figcaption {
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

figcaption {
    font-size: 80px;
    margin-bottom: 10px;
    text-align: left;

}



figure {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: -2500px;
    right: 50px;
    left: 50;
}



.topo {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 90%;
}



#menu-H {
    list-style: none;
    background-color: #40513b;
    padding: 0;

}


#menu-H li a {
    color: #edf1f6;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    display: inline;
}



#menu-H ul {
    max-width: 100px;
    list-style: none;
    padding: 0;
    background-color: #40513b;
    display: inline;

}

#menu-H ul li {
    display: inline;

}

#menu-H li {
    display: inline;

}


#menu-H ul li a {
    color: rgb(255, 255, 255);
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;

}

#menu-H ul li a:hover {
    background-color: #609966;

}


body {
    background-color: #edf1f6;
    color: rgb(0, 0, 0);
}



#topo {
    position: absolute;
    background-color: aqua;
}






button {
    border: none;
    background-color: #40513b;
    color: #fff;
    padding: 4px;
}

button:hover {
    background-color: #9dc08b;
    color: rgb(252, 252, 252);
}

input {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-style: double;
    border-color: #40513b;
    padding: 2px;

}

label {
    font-family: Arial, Helvetica, sans-serif;
    color: #40513b;

}



img {

    position: flex;
    height: calc(100vh - 10px);
    background-repeat: no-repeat/cover;
    padding: 0;
    margin: 0 auto;
    height: 91vh;
    width: 100%;
}


.right {
    text-align: center;
    position: relative;
}

ol {
    list-style-type: none;
}

h1 {
    display: flex;
    color: #40513b;
    align-items: center;
    padding: 40px;
    justify-content: center;
    font-size: 30px;
}

h2 {
    color: #609966;
    font-size: 22px;
}

p {
    color: #9dc08b;
    font-size: 18px;
    text-align: justify;
}


a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.container {
    padding: -150px 100px;
}

.texto {
    padding: 0px 150px;
}

.topo {
    display: flex;


}

@media screen and (max-width: 768px) {

    section,
    aside {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    nav li {
        float: none;
        width: 100%;
    }

    div h1 {
        text-align: center;
        left: 100%;
        height: 100%;
    }
}

/* Barra de rolagem */

/* Largura e altura da barra de rolagem */
::-webkit-scrollbar {
    width: 9px;
    background-color: none;
}

/* Cor de fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: none;
    border-radius: 20px;
}

/* Cor do indicador da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: rgba(51, 255, 51, 0.5);
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

/* Hover state da barra de rolagem */
::-webkit-scrollbar-thumb:hover {
    background-color: #33ff33;
}

.uni {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  